@model IEnumerable<SWD392_Meraki_Web.Models.Court>

@{
    ViewData["Title"] = "Court List";
}

<h1>Available Courts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Court Name</th>
            <th>Location</th>
            <th>Opening Hours</th>
            <th>Closing Hours</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var court in Model)
        {
            <tr>
                <td>@court.CourtName</td>
                <td>@court.Location</td>
                <td>@court.OpeningHours.ToString("hh\\:mm")</td>
                <td>@court.ClosingHours.ToString("hh\\:mm")</td>
                <td>@(court.IsUsing ? "In Use" : "Available")</td>
            </tr>
        }
    </tbody>
</table>